---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Content from '../components/Content.astro';
import BaseHead from '../components/BaseHead.astro';
import MarkdownTree from '@/components/MarkdownTree.astro';

const pageParam = Astro.url.searchParams.get('page') ?? '';

const notes = import.meta.glob('../content/notas/CCNA/notes/**/*.md');

let module;

if (pageParam) {
	const decodedFilename = decodeURIComponent(pageParam);
	const route = `../content/notas/CCNA/notes/${decodedFilename}.md`;

	if (notes[route]) {
		module = await notes[route]!();
	} else {
		module = await import('../content/notas/CCNA/index.md');
	}
} else {
	module = await import('../content/notas/CCNA/index.md');
}

const pageContent = module.default;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="CCNA Notes" description="CCNA notes" />
	</head>
	<body>
		<Header />
		<main>
			<Content Content={pageContent} />
			<MarkdownTree />
		</main>
		<Footer />
	</body>
</html>

<style>

	main {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}
</style>