---
const { Content } = Astro.props;
const markdownTree = await Astro.glob('../../content/notas/CCNA/notes/**/*.md');

const props = {

    pageParam: 
}
---

<div class="markdown-tree">
    <ul>
        <li>
            <a href="/ccna">CCNA</a>
        </li>
    </ul>
</div>

<style>
	.markdown-tree {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
</style>