---
interface Heading {
	slug: string;
	depth: number;
	text: string;
}

interface TreeNode {
	heading: Heading;
	children: TreeNode[];
}

interface Props {
	node: TreeNode;
}

const { node } = Astro.props;
---

<li data-depth={node.heading.depth}>
	<a href={`#${node.heading.slug}`}>{node.heading.text}</a>
	{node.children.length > 0 && (
		<ul>
			{node.children.map((child) => (
				<TreeNode node={child} />
			))}
		</ul>
	)}
</li>
